
@{
    ViewBag.Title = "CachHoatDong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="/Home"><i class="fa fa-home home_1"></i></a> / <span>Cách hoạt động</span></span>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- How it works -->
<div class="work-section">
    <div class="container">
        <h2 class="w3-head">Cách chúng tôi vận hành website</h2>
        <div class="work-section-head text-center">
            <p>Nhanh tróng, dễ dàng và miễn phí để đăng một quảng cáo. Hoặc tìm kiếm sản phẩm mà bạn mong muốn.</p>
        </div>
        <div class="work-section-grids text-center">
            <div class="col-md-3 work-section-grid">
                <i class="fa fa-pencil-square-o"></i>
                <h4>Đăng quảng cáo</h4>
                <p>Bạn dễ dàng có thể đăng bán 1 vật phẩm dù cũ hay mới ở đây.</p>
                <span class="arrow1"><img src="/Content/images/arrow1.png" alt="" /></span>
            </div>
            <div class="col-md-3 work-section-grid">
                <i class="fa fa-eye"></i>
                <h4>Tìm kiếm sản phẩm</h4>
                <p>Tới gian hàng và chọn loại sản phẩm mà bạn muốn, tìm ra sản phẩm ưng ý nhất</p>
                <span class="arrow2"><img src="/Content/images/arrow2.png" alt="" /></span>
            </div>
            <div class="col-md-3 work-section-grid">
                <i class="fa fa-phone"></i>
                <h4>Liên hệ với người bán</h4>
                <p>Bấm vào sản phẩm mà bạn muốn, bạn sẽ dễ dàng có được số điện thoại và địa chỉ người bán </p>
                <span class="arrow1"><img src="/Content/images/arrow1.png" alt="" /></span>
            </div>
            <div class="col-md-3 work-section-grid">
                <i class="fa fa-money"></i>
                <h4>Thực hiện giao dịch</h4>
                <p>Hãy gọi ngay cho họ và tiến hành giao dịch một cách nhanh tróng.</p>
            </div>
            <div class="clearfix"></div>
            <a class="work" href="post-ad.html">Bắt đầu ngay nào</a>
        </div>
    </div>
</div>
<div class="happy-clients">
    <div class="container">
        <div class="happy-clients-head text-center wow fadeInRight" data-wow-delay="0.4s">
            <h3>Khách Hàng</h3>
            <p>Hãy xem những khách hàng đã sử dụng dịch vụ họ nói gì nào?</p>
        </div>
        <div class="happy-clients-grids">
            <div class="col-md-6 happy-clients-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="client">
                    <img src="/Content/images/user.jpg" alt="" />
                </div>
                <div class="client-info">
                    <p><img src="/Content/images/open-quatation.jpg" class="open" alt="" />Viết mấy cái lời khen vào đây, hoặc triết lý cũng được :)).<img src="/Content/images/close-quatation.jpg" class="closeq" alt="" /></p>
                    <h4><a href="#">Tên người nói, </a> Khách hàng 2 năm</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 happy-clients-grid span_66 wow bounceIn" data-wow-delay="0.4s">
                <div class="client">
                    <img src="/Content/images/user.jpg" alt="" />
                </div>
                <div class="client-info">
                    <p><img src="/Content/images/open-quatation.jpg" class="open" alt="" />Viết mấy cái lời khen vào đây, hoặc triết lý cũng được :)).<img src="/Content/images/close-quatation.jpg" class="closeq" alt="" /></p>
                    <h4><a href="#">Tên người nói, </a> Khách hàng 3 năm</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 happy-clients-grid wow bounceIn" data-wow-delay="0.4s">
                <div class="client">
                    <img src="/Content/images/user.jpg" alt="" />
                </div>
                <div class="client-info">
                    <p><img src="/Content/images/open-quatation.jpg" class="open" alt="" />Viết mấy cái lời khen vào đây, hoặc triết lý cũng được :)).<img src="/Content/images/close-quatation.jpg" class="closeq" alt="" /></p>
                    <h4><a href="#">Tên người nói, </a> Khách hàng 1 năm</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 happy-clients-grid span_66 wow bounceIn" data-wow-delay="0.4s">
                <div class="client">
                    <img src="/Content/images/user.jpg" alt="" />
                </div>
                <div class="client-info">
                    <p><img src="/Content/images/open-quatation.jpg" class="open" alt="" />Viết mấy cái lời khen vào đây, hoặc triết lý cũng được :)).<img src="/Content/images/close-quatation.jpg" class="closeq" alt="" /></p>
                    <h4><a href="#">Tên người nói, </a> Khách hàng 2 năm</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- // How it works -->
