
@{
    ViewBag.Title = "ChinhSachBaoMat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> / <span>Privacy Policy</span></span>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- Privacy -->
<div class="privacy main-grid-border">
    <div class="container">
        <h2 class="w3-head">Chính sách bảo mật</h2>
        <p>Chúng tôi tôn trọng và cam kết bảo vệ dữ liệu cá nhân của người dùng. Chúng tôi cam kết sẽ thực hiện các biện pháp liên quan để bảo vệ dữ liệu cá nhân của người dùng tuân theo các quy định pháp luật áp dụng về bảo mật thông tin/dữ liệu cá nhân.</p>
        <h4>Bảo mật:</h4>
        <p class="privacy-para">Những thông tin cá nhân mà chúng tôi có thể thu thập bao gồm, nhưng không giới hạn các thông tin sau:</p>
        <ol class="privacy-start">
            <li><a href="#">Thông tin tài khoản như họ và tên, địa chỉ email, địa chỉ, giới tính, ngày sinh, ảnh hồ sơ, số điện thoại di động;.</a></li>
            <li><a href="#">Dữ liệu khi bạn truy cập và/hoặc sử dụng Nền tảng của chúng tôi như địa chỉ IP, các thông tin về trình duyệt, các địa chỉ bạn đã truy cập trên Nền tảng, thời gian bạn hoạt động trên Nền tảng của chúng tôi.</a></li>
            <li><a href="#">Dữ liệu về vị trí như vị trí điện thoại di động của bạn và/hoặc bất kỳ thông tin vị trí nào như khi bạn chụp và chia sẻ vị trí của bạn với chúng tôi dưới dạng hình ảnh hoặc video của bạn và tải nội dung đó lên Nền tảng.</a></li>
            <li><a href="#">Bất kỳ thông tin, dữ liệu nào khác được tiết lộ bởi bạn khi bạn đăng nhập, sử dụng các Dịch vụ và các Nền tảng của chúng tôi như sở thích của bạn trong việc nhận thông tin tiếp thị từ chúng tôi và/hoặc từ các bên thứ ba của chúng tôi.</a></li>
            <li><a href="#">Bất kỳ dữ liệu, thông tin tổng hợp khác về nội dung người dùng sử dụng.</a></li>

        </ol>
        <h4 class="use-privay">Mẹo khi mua hàng:</h4>
        <ul class="privacy-start">
            <li><a href="#">Kiểm tra thông tin về sản phẩm.</a></li>
            <li><a href="#">Tìm hiểu kỹ các điều khoản, quy định và chính sách bán hàng.</a></li>
            <li><a href="#">Lựa chọn phương thức thanh toán an toàn.</a></li>
            <li><a href="#">Lưu giữ thông tin giao dịch đầy đủ.</a></li>
            <li><a href="#">Thận trọng với giá cả.</a></li>
            <li><a href="#">Thận trọng với việc chuyển tiền.</a></li>
        </ul>
    </div>
</div>
<!-- // Privacy -->
