
@{
    ViewBag.Title = "DieuKhoanSuDung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> / <span>Điều khoản sử dụng</span></span>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- Terms of use -->
<div class="terms main-grid-border">
    <div class="container">
        <h2 class="w3-head">Điều khoản sử dụng</h2>
        <div class="panel-group" id="accordion">
            <!-- First Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseOne">
                        <span>1.</span> Đối tượng đăng tin
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Tin đăng Cá nhân: Dành cho đối tượng là các cá nhân có quyền hợp pháp tham gia vào các thoả thuận/hợp đồng mua bán ở Việt Nam và bán hàng không vì mục đích kinh doanh..</p>
                        <p>Tin đăng Bán chuyên/Môi giới: Dành cho đối tượng là những cá nhân/tập thể bán hàng với mục đích kinh doanh, bao gồm các cửa hàng, doanh nghiệp, shop, và các hộ gia đình hoặc cá nhân kinh doanh nhỏ.</p>
                    </div>
                </div>
            </div>

            <!-- Second Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseTwo">
                        <span>2.</span> Thông tin liên lạc
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Tên : Điền đầy đủ họ tên thật của người bán.</p>
                        <p>Email: Hãy cung cấp địa chỉ email thật. Chúng tôi liên lạc với bạn chủ yếu qua email. Email của bạn sẽ được bảo mật.</p>
                        <p>Số điện thoại: Để đảm bảo an toàn mua bán, bạn cần xác nhận sở hữu của số điện thoại dùng để đăng tin.</p>
                        <p>Địa chỉ: Hãy cung cấp địa chỉ giao dịch chính xác bao gồm: tên đường, quận/huyện, thành phố nơi bạn đang sống.</p>
                    </div>
                </div>
            </div>

            <!-- Third Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseThree">
                        <span>3.</span> Tiêu đề tin đăng
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Tiêu đề cần thể hiện chi tiết chính của mặt hàng hoặc dịch vụ được quảng cáo.</p>
                        <p>Trên tiêu đề tin, không sử dụng các thông tin/ từ ngữ sau: cần mua/ mua, cần bán/ bán, tuyển/tìm, thanh lý, giá, website, tên hoặc thông tin liên lạc của người bán. Các từ ngữ miêu tả nhằm thu hút sự chú ý của người mua như: siêu rẻ, siêu hot, rất đẹp, đẹp, khuyến mãi, gấp, giảm giá hoặc các từ ngữ không được phép theo luật quảng cáo như : nhất, tốt nhất, rẻ nhất, số 1, hàng đầu hoặc từ ngữ có ý nghĩa tương tự.</p>
                    </div>
                </div>
            </div>
            <!-- Fourth Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFour">
                        <span>4.</span> Hình ảnh trong tin đăng
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Hình ảnh trong tin đăng phải là hình chụp từ mặt hàng, dịch vụ bạn đăng bán, và phải thể hiện rõ & chân thực mặt hàng dịch vụ đó.</p>
                        <p>Hình ảnh không được phép đăng bao gồm:</p>
                        <p> - Hình ảnh từ internet hoặc tải từ trang này.</p>
                        <p> - Hình đã bị chỉnh sửa quá nhiều hoặc bị tẩy xóa, không cho thấy được tình trạng thật của sản phẩm.</p>
                        <p> - Hình có chứa đường link liên kết, chữ, số điện thoại, tên cửa hàng/công ty.</p>
                        <p> - Hình mờ, nghiêng, không đúng chiều, hình được ghép từ nhiều hình khác, có các ký tự hoặc ký hiệu lạ nhằm thu hút sự chú ý của người xem.</p>
                        <p> - Hình có logo công ty, ngoại trừ trong các chuyên mục “Dịch Vụ”, “Việc Làm” và hoạt động mua bán thương hiệu trong chuyên mục “Cơ sở thương mại”.</p>
                        <p> - Hình ảnh khiêu dâm</p>
                    </div>
                </div>
            </div>
            <!-- Fifth Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFive">
                        <span>5.</span> Nội dung tin đăng
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Nội dung tin đăng cần có đầy đủ thông tin để người mua có thể quyết định mua hàng. Cụ thể như sau:</p>
                        <p> - Bất động sản: Miêu tả chi tiết vị trí, số phòng, diện tích, tên dự án, căn hộ, tên đường, tình trạng sở hữu, …</p>
                        <p> - Xe cộ: Miêu tả tên xe, hãng xe, xuất xứ, màu sắc, tình trạng sử dụng, số km đã đi, năm đăng kí, hộp số, loại nhiên liệu, giấy tờ xe, …</p>
                        <p> - Các sản phẩm khác: Tên sản phẩm, hãng, xuất xứ, màu sắc, chất liệu, tình trạng sử dụng, phụ kiện đi kèm, giá tiền, tình trạng bảo hành, …</p>
                    </div>
                </div>
            </div>
            <!-- Sixth Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseSix">
                        <span>6.</span> Giá
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Giá bán phải được niêm yết bằng giá Việt Nam Đồng. Các tin đăng giá ngoại tệ đều không được đăng.</p>
                        <p>Nếu sản phẩm/dịch vụ của bạn là sản phẩm chính hãng nhưng rao bán với giá thấp hơn sản phẩm/dịch vụ tương tự trên thị trường, vui lòng sửa lại tin theo hướng dẫn sau:</p>
                        <p> - Thêm hình để chứng thực sản phẩm hàng chính hãng.</p>
                        <p> - Hoặc miêu tả chi tiết hơn về tình trạng sản phẩm: Thời gian sử dụng, tình trạng sản phẩm, giá tiền lúc mua, lý do bán rẻ hơn thị trường</p>
                        <p>Quy định về giá được đặt ra nhằm bảo đảm an toàn và hiệu quả cho cả người mua và người bán.</p>

                    </div>
                </div>
            </div>
            <!-- Seventh Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseSeven">
                        <span>7.</span> Ngôn ngữ
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Chúng tôi chỉ sử dụng 2 ngôn ngữ là tiếng Việt và tiếng Kinh</p>
                        <p>Các tin viết bằng ngôn ngữ khác, hoặc viết bằng tiếng Việt không dấu, hoặc viết bằng tiếng Việt nhưng nội dung khó hiểu (ký hiệu lạ, phông chữ lạ) cũng không được phép đăng.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // Terms of use -->
