
@{
    ViewBag.Title = "Trợ Giúp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="/Home"><i class="fa fa-home home_1"></i></a> / <span>Trợ giúp</span></span>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- Faq -->
<div class="faq main-grid-border">
    <div class="container">
        <div class="wthree-help">
            <h3>Chúng tôi có thể giúp gì cho bạn</h3>
            <form action="#" method="get">
                <textarea placeholder="Viết vào đây vấn đề của bạn" name="Message" required=""></textarea>
                <input type="submit" value="Gửi">
            </form>
            <h5>Hoặc</h5>
            <a href="contact.html">Liên hệ</a>
        </div>
        <h2 class="w3-head">Các câu hỏi thường gặp</h2>
        <dl class="faq-list">
            <dt class="faq-list_h">
                <h4 class="marker">Q?</h4>
                <h5 class="marker_head">Đây có phải là tổ chức phi lợi nhuận không?</h5>
            </dt>
            <dd>
                <h4 class="marker1">A.</h4>
                <p class="m_13">Cũng chả biết nữa vì éo biết cách thu tiền.</p>
            </dd>
            <dt class="faq-list_h">
                <h4 class="marker">Q?</h4>
                <h5 class="marker_head">Tôi có được mặc cả không</h5>
            </dt>
            <dd>
                <h4 class="marker">A.</h4>
                <p class="m_13">Liên hệ với thằng bán nhé.</p>
            </dd>
            <dt class="faq-list_h">
                <h4 class="marker">Q?</h4>
                <h5 class="marker_head">Đây có phải là website duy nhất về lĩnh vực rao vặt ?</h5>
            </dt>
            <dd>
                <h4 class="marker">A.</h4>
                <p class="m_13">Không biết có phải duy nhất không nhưng là tệ nhất.</p>
            </dd>
            <dt class="faq-list_h">
                <h4 class="marker">Q?</h4>
                <h5 class="marker_head">Tiền ship thì tính như thế nào ?</h5>
            </dt>
            <dd>
                <h4 class="marker">A.</h4>
                <p class="m_13">Vấn đề này do người mua và người bán thương lượng với nhau, chúng tôi không có trách nhiệm.</p>
            </dd>
        </dl>

    </div>
</div>
<!-- // Faq -->
